<div class="container">
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-6 mt-3 py-3">
      <div class="card py-3"
           style="w-100">
        <h5 class="card-title text-center">URL Shortener</h5>
        <div class="card-img-top text-center">
          <img src="https://images.pexels.com/photos/276502/pexels-photo-276502.jpeg?cs=srgb&dl=pexels-pixabay-276502.jpg&fm=jpg"
               class="card-img-top"
               style="width: 70%;"
               alt="card-top-img-link">
        </div>

        <div class="card-body pb-1 pt-3">

          {{#if wrong}}
          <div class="alert alert-warning alert-dismissible fade show p-2"
               role="alert">
            <strong>Sorry!</strong>
            <button type="button"
                    class="close btn btn-secondary btn-sm text-right"
                    style="float: right;"
                    data-dismiss="alert"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <ul>
              {{#each errorArray}}
              <li>
                {{this.msg}}
              </li>
              {{/each}}
            </ul>

          </div>
          {{/if}}

          <form action="/urls"
                method="POST"
                class="text-center">
            <div class="form-group">
              <label for="fullUrl"></label>
              <input type="text"
                     class="form-control"
                     style="background-color: #DCDCDC;"
                     name="fullUrl"
                     placeholder="Input URL here ..."
                     id="fullUrl">
            </div>
            <button type="submit"
                    class="btn btn-outline-primary   mt-2"
                    style="width: 60%;">Shorten</button>

          </form>

        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>