<div class="container">
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-6 mt-5">

      <div class="card"
           style="w-100">
        <img src="https://images.app.goo.gl/SqdC3Ls4Qz5aFAPe9"
             class="card-img-top"
             alt="URL image">
        <div class="card-body">
          <h5 class="card-title text-center">URL Shortener</h5>
          <p class="card-text">
          </p>
          <form action="/urls"
                method="POST"
                class="text-center">
            <div class="form-group">
              <label for="shortUrl">Success! Please use this link:</label>
              <p>

                <a style="background-color: #DCDCDC;"
                   name="shortUrl"
                   id="shortUrl"
                   href="/urls/{{shortUrl}}">{{FULLURLHEAD}}{{shortUrl}}</a>
              </p>
            </div>
            <button type="submit"
                    class="btn btn-outline-primary"
                    style="width: 60%;">Copy</button>

          </form>

        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>