<div class="container">
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-6 mt-3 py-3">
      <div class="card pt-3"
           style="w-100">
        <h5 class="card-title text-center">URL Shortener</h5>
        <div class="card-img-top text-center">
          <img src="https://images.pexels.com/photos/276502/pexels-photo-276502.jpeg?cs=srgb&dl=pexels-pixabay-276502.jpg&fm=jpg"
               class="card-img-top"
               style="width: 70%;"
               alt="card-top-img-link">
        </div>
        <div class="card-body">
          <p class="card-text">
          </p>
          <form action="/urls"
                method="POST"
                class="text-center">
            <div class="form-group">
              <label for="shortUrl">Success! Please use this link:</label>
              <p>

                <a style="background-color: #DCDCDC;"
                   name="shortUrl"
                   id="shortUrl"
                   href="/urls/{{shortUrl}}">{{FULLURLHEAD}}{{shortUrl}}</a>
              </p>
            </div>
            <button type="submit"
                    class="btn btn-outline-primary"
                    style="width: 60%;">Copy</button>

          </form>

        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>